*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 1000px;
    
}
.india{
    height: 770px;
    width: 700px;
    border: 8px solid;
    margin-left: 400px;
    margin-top: 100px;
    border-radius: 30px;
}
.players{
    text-align: center;
    margin-top: 50px;
    font-size: 2rem;
}
#text{
    background: linear-gradient(to left, red,white,blue, red);
    background-clip: text;
    display: inline;
    color: transparent;
    animation: animated 5s linear infinite;
  }
  @keyframes animated{
    to{
        background-position-x: 161px;
    }
  }
  .one{
    display: flex;
    column-gap: 50px;
    margin-left: 20px;
    margin-top: 30px;
  }
  .rohit{
    height: 70px;
    width: 300px;
    border: 1.5px solid;
    border-radius: 20px;
  
  }


  .virat{
    height: 70px;
    width: 300px;
    border: 1.5px solid;
    border-radius: 20px;
  }
.son{
    margin-left: 100px;
    margin-top: -50px;
}
.info{
  height: 600px;
  width: 1200px;
  border: 2px solid;
  margin-left: 100px;
  margin-top: 150px;
  border-radius: 20px;
}
.info p{
  margin-left: 300px;
  margin-top: -280px;
  font-size: 1.2rem;
}
.info h1{
  margin-left: 37px;
}