body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 2000px;
    width: 100%;
}
.main1{
    height: 300px;
    width: 400px;
    background-image: url(images/pollard);
    background-size: cover;
    border: 1px solid #d8dadd;
    border-radius: 10px;
    box-shadow: 15px 15px 18px #D2D5D9;
    animation: moveFromLeft 1s ease-in-out 1 forwards;

    
}
.main2{
    height: 300ox;
    width: 600px;
    border: 1px solid #d8dadd;
    border-radius: 10px;
    box-shadow: 15px 15px 18px #D2D5D9;
    animation: moveFromRight 1s ease-in-out 1 forwards;

}
.main2 p{
    color: grey;
    font-size: 1.1rem;
}
.mains{
    display: flex;
    margin-left: 100px;
    column-gap: 120px;
    margin-top: 100px;
    cursor: pointer;
}
.main2 h3{
    margin-left: 19px;
}
.main2 h1{
    margin-left: 19px;
}
.main2 p{
    margin-left: 19px;
}
.main2 h6{
    margin-left: 19px;
    font-size: 1.1rem;
}
.mainsa{
    display: flex;
    column-gap: 120px;
    margin-left: 100px;
    margin-top: 80px;
    cursor: pointer;
}
.mains1{
    height: 300px;
    width: 400px;
    background-image: url(images/root);
    background-size: cover;
    border: 1px solid #d8dadd;
    border-radius: 10px;
    box-shadow: 15px 15px 18px #D2D5D9;
    animation: moveFromLeft 1.5s ease-in-out 1 forwards;
}
.mains2{
    height: 300ox;
    width: 600px;
    border: 1px solid #d8dadd;
    border-radius: 10px;
    box-shadow: 15px 15px 18px #D2D5D9;
    animation: moveFromRight 1.5s ease-in-out 1 forwards;
}
.mains2 p{
    color: grey;
    font-size: 1.1rem;
}
.mains2 h3{
    margin-left: 19px;
}
.mains2 h1{
    margin-left: 19px;
}
.mains2 p{
    margin-left: 19px;
}
.mains2 h6{
    margin-left: 19px;
    font-size: 1.1rem;
}

.mainsb{
    display: flex;
    column-gap: 120px;
    margin-left: 100px;
    margin-top: 80px;
    cursor: pointer;
}
.mainsb1{
    height: 300px;
    width: 400px;
    background-image: url(images/both);
    background-size: cover;
    border: 1px solid #d8dadd;
    border-radius: 10px;
    box-shadow: 15px 15px 18px #D2D5D9;
    animation: moveFromLeft 2.5s ease-in-out 1 forwards;
}
.mainsb2{
    height: 300ox;
    width: 600px;
    border: 1px solid #d8dadd;
    border-radius: 10px;
    box-shadow: 15px 15px 18px #D2D5D9;
    animation: moveFromRight 2.5s ease-in-out 1 forwards;
}
.mainsb2 p{
    color: grey;
    font-size: 1.1rem;
}
.mainsb2 h3{
    margin-left: 19px;
}
.mainsb2 h1{
    margin-left: 19px;
}
.mainsb2 p{
    margin-left: 19px;
}
.mainsb2 h6{
    margin-left: 19px;
    font-size: 1.1rem;
}


.mainsc{
    display: flex;
    column-gap: 120px;
    margin-left: 100px;
    margin-top: 80px;
    cursor: pointer;
}
.mainsc1{
    height: 300px;
    width: 400px;
    background-image: url(images/chamira);
    background-size: cover;
    border: 1px solid #d8dadd;
    border-radius: 10px;
    box-shadow: 15px 15px 18px #D2D5D9;
    animation: moveFromLeft 3s ease-in-out 1 forwards;
}
.mainsc2{
    height: 300ox;
    width: 600px;
    border: 1px solid #d8dadd;
    border-radius: 10px;
    box-shadow: 15px 15px 18px #D2D5D9;
    animation: moveFromRight 3s ease-in-out 1 forwards;
}
.mainsc2 p{
    color: grey;
    font-size: 1.1rem;
}
.mainsc2 h3{
    margin-left: 19px;
}
.mainsc2 h1{
    margin-left: 19px;
}
.mainsc2 p{
    margin-left: 19px;
}
.mainsc2 h6{
    margin-left: 19px;
    font-size: 1.1rem;
}
.mainsc2:hover{
    transform: translateY(-10px);
}
.mainsd1{
    height: 300px;
    width: 400px;
    background-image: url(images/jaddu);
    background-size: cover;
    border: 1px solid #d8dadd;
    border-radius: 10px;
    box-shadow: 15px 15px 18px #D2D5D9;
    animation: moveFromLeft 4s ease-in-out 1 forwards;
}
.mainsd2{
    height: 300ox;
    width: 600px;
    border: 1px solid #d8dadd;
    border-radius: 10px;
    box-shadow: 15px 15px 18px #D2D5D9;
    animation: moveFromRight 4s ease-in-out 1 forwards;

}
.mainsd2 p{
    color: grey;
    font-size: 1.1rem;
}
.mainsd2 h3{
    margin-left: 19px;
}
.mainsd2 h1{
    margin-left: 19px;
}
.mainsd2 p{
    margin-left: 19px;
}
.mainsd2 h6{
    margin-left: 19px;
    font-size: 1.1rem;
}
/* .mainsd2:hover{
    transform: translateY(-10px);
} */
.mainsd{
    display: flex;
    column-gap: 120px;
    margin-left: 100px;
    margin-top: 80px;
    cursor: pointer;
}


  @keyframes moveFromLeft {
    0% {
      transform: translateX(-900px); /* Move the box 300px to the left of its original position */
    }
    100% {
      transform: translateX(0); /* Move the box to its original position */
    }
  }
  

  @keyframes moveFromRight {
    0% {
      transform: translateX(300px); 
    }
    100% {
      transform: translateX(0); 
    }
  }
  .full h1{
    text-align: center;
    font-size: 5rem;
  }
  .full{
    margin-top: 100px;
    text-align: center;
  }
  #text{
    background: linear-gradient(to left, violet,indigo,blue,green,yellow,orange,red);
    background-clip: text;
    display: inline;
    color: transparent;
    animation: animated 5s linear infinite;
  }
  @keyframes animated{
    to{
        background-position-x: 161px;
    }
  }